body{
  background-color: red;
}
.center{
  text-align: center;
  width: 100%;
  margin: auto;
}
p.hello{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
}
p.hello1{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(20deg, 10deg); /* IE 9 */
  -webkit-transform: skew(20deg, 10deg); /* Safari */
  transform: skew(20deg, 10deg); /* standard syntax */
}
p.hello2{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(40deg, 30deg); /* IE 9 */
  -webkit-transform: skew(40deg, 30deg); /* Safari */
  transform: skew(40deg, 30deg); /* standard syntax */
}
p.hello3{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(25deg, 15deg); /* IE 9 */
  -webkit-transform: skew(25deg, 15deg); /* Safari */
  transform: skew(25deg, 15deg); /* standard syntax */
}
p.hello4{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(40deg, 30deg); /* IE 9 */
  -webkit-transform: skew(40deg, 30deg); /* Safari */
  transform: skew(40deg, 30deg); /* standard syntax */
}
p.hello5{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(40deg, 30deg); /* IE 9 */
  -webkit-transform: skew(40deg, 30deg); /* Safari */
  transform: skew(40deg, 30deg); /* standard syntax */
}
