body{
  background-color: white;
}
.center{
  text-align: center;
  width: 100%;
  margin: auto;
}
p.hello{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
}
p.hello1{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(20deg, 10deg); /* IE 9 */
  -webkit-transform: skew(20deg, 10deg); /* Safari */
  transform: skew(20deg, 10deg); /* standard syntax */
}
p.hello2{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(30deg, 20deg); /* IE 9 */
  -webkit-transform: skew(30deg, 20deg); /* Safari */
  transform: skew(30deg, 20deg); /* standard syntax */
}
